
<form id="frmAdd">
    <div>
        <label>
            Name: <br />
            <input id="name" required />
        </label>
    </div>
    <div>
        <label>
            Price: <br />
            <input id="price" required />
        </label>
    </div>
    <div>
        <label>
            Description: <br />
            <textarea id="description" required></textarea>
        </label>
    </div>
    <input type="submit" value="Create Product" />

</form>


<ol id="productsList"></ol>

@section scripts {
    <script>

        $("#frmAdd").submit(function (e) {
            e.preventDefault();

            var productToCreate = {
                name: $("#name").val(),
                price: $("price").val(),
                description: $("description").val()
            };


            $.ajax({
                url: "/api/products",
                type: "POST", 
                data: JSON.stringify(productToCreate),
                contentType: "application/json", 
                dataType: "json",
                statusCode: {
                    201: function (newProduct) {

                    }
                }
            });
        });


        function showMovies() {
            $.ajax({
                url: "/api/products",
                type: "GET", 
                contentType: "application/json", 
                dataType: "json",
                statusCode: {
                    200: function (products) {
                        var productsList = $("#productsList");
                        for (var i = 0; i < products.length; i++) {
                            productsList.append("<li>" + products[i].name + "</li>");
                        }
                    }
                }
            });            
        }

        showMovies();

    </script>
}